.card {
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(30, 30, 30);
  background-color: grey;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .profileImg {
  max-width: 70%;
  height: auto;
  border: 3px solid rgb(88, 0, 112);
  border-radius: 80%;
}

.card .cardTitle {
  font-family: Arial;
  color: black;
  margin: 0;
}

.card .cardText {
  font-family: Arial;
}

.student {
  font-family: Arial;
  font-size: 2em;
  padding: 10px;
  border: 1px solid black;
}

.student p {
  margin: 0;
}